/* Sidebar Stilleri */
#sidebar {
    min-width: 250px;
    max-width: 250px;
    height: 100vh;
    transition: all 0.3s;
    background-color: #0d6efd;
}

    #sidebar ul li a {
        color: #fff;
        padding: 10px;
        display: block;
        text-decoration: none;
    }

        #sidebar ul li a:hover {
            background: #0056b3;
        }

/* Dashboard Kartlarý */
.dashboard-card {
    border-left: 4px solid #0d6efd;
    background: #fff;
    padding: 15px;
    margin: 10px 0;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}
