@{
    ViewData["Title"] = "Dashboard";
}

@section Content {
    <div class="main-content">
        <h1 class="dashboard-title">Dashboard</h1>
        <!-- Dashboard içeriğini buraya ekleyin -->
    </div>
}
