.btn-primary {
    background-color: #4e73df;
    border-color: #4e73df;
}

    .btn-primary:hover {
        background-color: #2e59d9;
        border-color: #2e59d9;
    }

.card {
    border: none;
    border-radius: 1rem;
}

.card-body {
    padding: 2rem;
}

.form-control {
    border-radius: 0.5rem;
    padding: 0.75rem 1rem;
}

    .form-control:focus {
        box-shadow: none;
        border-color: #4e73df;
    }
